/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: 'Kameron', 'Noto Serif JP', serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// font
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

// margin-bottom
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}

// padding-bottom
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}

.flex {
  display: flex;
  flex-direction: column;
}

.purple {
  color: $cWineRed;
}

.travel {
  @extend .content-width;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $cBgGray;
    position: relative;
    z-index: 0;
  }

  &__sub {
    @extend .mb-sm;
  }

  &__img {
    height: 300px;
    @extend .mb-sm;
    transition: box-shadow 1ms linear 0.8s;

    & > img {
      position: relative;
      z-index: -1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    &.inview {
      box-shadow: inset 0 0 30px $cBlack;
    }
  }

  &__texts {
    @extend .pb-sm;
  }
}

.houses {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__title {
    @extend .font-lr;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }
}

.popular {
  &__inner {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 90%;
      background-color: $cBgGray;
    }
  }

  &__header {
    @extend .content-width;
  }

  &__container {
    position: relative;
    z-index: 2;
    @extend .flex;
    @extend .content-width;
    @extend .pb-sm;
  }

  &__title {
    @extend .font-md;
    @extend .mb-sm;
  }

  &__btn {
    text-align: center;
    flex-basis: 100%;
  }

  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
}
